body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
h1{

    font-size:50px;
}
.highlight{
    color:orange;
}
.first-div{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.first-div img{
    width:100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    min-height:500px;
    
}
.button{
    text-decoration:none;
    background-image:linear-gradient(45deg,salmon,tomato);
    color:white;
    padding:10px 20px;
    border-radius:5px;
    font-weight:700;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#exp{
    margin-top:150px;
}
.experience{
    box-shadow: 10px 10px 40px gray;
    border-radius:5px;
    height: 50%;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;
}
#last{
    border-left:7px solid;
    border-image:linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice:1;
    overflow: scroll;
}
#last1{
    border-left:7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice:1;
    overflow:scroll;

}
#footer {
    text-align:center;
}